header{
    background-color: rgb(95, 95, 95);
    height: 100px;
    border-radius: 60px;
}

img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    position: relative;
}
h1{
    left: 100px;
    top: -115px;
    position: relative;
    font-size: 60px;
    color: rgb(255, 208, 0);
}
.button1{
    left: 1450px;
    position: relative;
    top: -220px;
    width: 70px;
    box-shadow: 100%;
    border-radius: 100%;
    background-color: rgb(255, 217, 0);

}
.button2{
    left: 1470px;
    position: relative;
    top: -220px;
    background-color: rgb(255, 217, 0);
    width: 70px;
    box-shadow: 100%;
    border-radius: 100%;

}
.button3{
    left: 1490px;
    position: relative;
    top: -220px;
    background-color: rgb(255, 217, 0);
    width: 70px;
    box-shadow: 100%;
    border-radius: 100%;

}
body {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(141, 141, 141);
}
.img2{
    height: 800px;
    width: 700px;
    border-radius: 5%;
    left: 20px;
    top: 20px;
}
footer{
    background-color: rgb(94, 94, 94);
    border-radius: 60px;
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    height: 840px;
}
h2{
    left: 750px;
    top: -800px;
    position: relative;
    color: rgb(255, 217, 0);
    font-size: 30px;
    
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;


}
.p3{
    left: 750px;
    top: -800px;
    position: relative;
    color: rgb(255, 217, 0);
    
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}
.p2{
    font-size: 20px;
}

img:active {
  transform: rotate(180deg);
}
.img4{
    top: 20px;
    height: 200px;
    width: 200px;
}
.footer{
    height: 240px;
}